@using HR_Manager.Models
@{
    ViewBag.Title = "HR_HomePage";
    Layout = "~/Views/HR/Layout_HR/Layout_HR.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <section class="content">

    </section>

</div>
<!-- /.content-wrapper -->

@section Scripts
{
    @Scripts.Render("~/bundles/dashboard1")
}

